*.gradle
Chat/gradlew
*.bat
Chat/.idea
*.class
Chat/build/tmp/compileJava/source-classes-mapping.txt
Chat/gradle/wrapper/gradle-wrapper.jar
Rest/.idea/
*.pyc
*.properties
Chat/bin/
*.iml
middleware_lab_4/.idea/
middleware_lab_4/Ice/.idea/.name
*.xml
*.jar
middleware_lab_4/
