<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form id="login_form" method="POST" action="/login/">
            <label for="username">Username:</label><br/>
            <input type="text" id="username" name="username" required>
            <p></p>
            <label for="password">Password:</label><br/>
            <input type="password" id="password" name="password" required>
            <p></p>
            <input class="submit" type="submit" value="Submit">
        </form>
    </body>
</html>